<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-HTMX</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="./htmx.min.js"></script>
</head>

<body>
    <div class="row mt-4 g-4">
        <div class="col-8">
            <h1 class="mb-4">Film List</h1>

            <ul class="list-group fs-5 me-5" id="film-list">
                {{range .Films}}
                <li class="list-group-item bg-primary text-white">
                    {{.Title}} - {{.Director}}
                </li>
                {{end}}
            </ul>
        </div>

        <div class="col-4">
            <h1 class="mb-4">Add Film</h1>

            <form hx-post="/add_film/" hx-target="#film-list" hx-swap="beforeend">
                <div class="mb-2">
                    <label for="film-title">Title</label>
                    <input type="text" name="title" id="film-title">
                </div>

                <div class="mb-2">
                    <label for="film-director">Director</label>
                    <input type="text" name="director" id="film-director">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>